{% include "header.html" %}
{% if length > 0: %}
<a class="header-link" href="{{ url }}" target="_blank"><h1 class="header">Active {{ console }} Games:</h1></a>

<div class="game-row row">

  {% for game in in_stock: %}
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
    <div class="card">
      <div class="card-horizontal">
        <div class="game-img-square-wrapper">
          <a target="_blank" class="help-link" href="{{ game.url }}">
            <img class="card-image-game img-fluid" src="{{ game.img_url }}" alt="Card image cap">
        </div>
        <br>
        <div class="card-body game-card">
          <h6 class="card-title">{{ game.title }}</h6>
          <h7 class="card-text">${{ game.price }}</h7>
          </a>

        </div>


      </div>
      <hr>
        <p class="date-last-tracked">Avg. Price: ${{ game.average }} | High: ${{ game.high }} | Low: ${{ game.low }}</p>
      <!--        <div class="card-footer">-->
      <!--            <small class="text-muted">Last updated 3 mins ago</small>-->
      <!--        </div>-->

    </div>
  </div>

  {% endfor %}
  {% else: %}
  <h1>There are currently no {{ all_games[0].system }} games in stock.</h1>
  {% endif %}
</div>


<br>

<h1 class="header" id="all-games">All {{ console }} Games:</h1>

<div class="dropdown sort-dropdown">
  <button class="btn send-button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {% if sort_method: %}
    {{ sort_method }}
    {% else: %}
    Sort By
    {% endif %}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ url_for(sorter, sort_method='oldest', _anchor='all-games') }}">Oldest First</a>
    <a class="dropdown-item" href="{{ url_for(sorter, sort_method='newest', _anchor='all-games') }}">Newest First</a>
    <a class="dropdown-item" href="{{ url_for(sorter, sort_method='cheapest', _anchor='all-games') }}">Price: Low to High</a>
    <a class="dropdown-item" href="{{ url_for(sorter, sort_method='priciest', _anchor='all-games') }}">Price: High to Low</a>
    <a class="dropdown-item" href="{{ url_for(sorter, sort_method='rarest', _anchor='all-games') }}">Rarity: Most to Least</a>
    <a class="dropdown-item" href="{{ url_for(sorter, sort_method='most-common', _anchor='all-games') }}">Rarity: Least to Most</a>
  </div>
</div>

<div class="game-row row">

  {% for game in all_games: %}
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
    <div class="card">
      <div class="card-horizontal">
        <div class="game-img-square-wrapper">
          <a target="_blank" class="help-link" href="{{ game.url }}">
            <img class="card-image-game img-fluid" src="{{ game.img_url }}" alt="Card image cap">
        </div>
        <div class="card-body game-card">

          {% if game.in_stock: %}
          <h6 class="card-title">{{ game.title }}</h6>
          <h7 class="card-text">${{ game.price }}</h7>
          {% else: %}
          <h6 class="card-title">{{ game.title }}</h6>
          <h7 class="card-text">${{ game.price }} 🚫 out of stock</h7>
          {% endif %}
          </a>



        </div>
      </div>
      <!--        <div class="card-footer">-->
      <!--            <small class="text-muted">Last updated 3 mins ago</small>-->
      <!--        </div>-->
      <hr>
      <p class="date-last-tracked">Avg. Price: ${{ game.average }} | High: ${{ game.high }} | Low: ${{ game.low }}
        <br>
        Last Tracked: {{ game.date.split(',')[-2].split(':')[0] }}</p>
    </div>
  </div>

  {% endfor %}
</div>



{% include "footer.html" %}
