<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<br>
<br>
<br>
<h3>Get Notified!</h3>
<h5>Subscribe to our Telegram bots to be instantly notified of new games hitting Amazon's Warehouse. <a class="help-link" href="{{ url_for('help') }}"> Want help?</a></h5>
<br>

<div>
<h7>Want to buy me a coffee?</h7>

<form class="donate-button" action="https://www.paypal.com/donate" method="post" target="_blank">
<input type="hidden" name="business" value="79GC3V92ABDBA" />
<input type="hidden" name="currency_code" value="CAD" />
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_CA/i/scr/pixel.gif" width="1" height="1" />
</form>
    </div>
<br>
<h7>As an Amazon Associate I earn from qualifying purchases.</h7>
<br>
<br>
<br>
</body>

</html>
